# Build and Release Folders
bin/
bin-debug/
bin-release/

# Other files and folders
.settings/

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

.metadata
bin-debug


# global gitignore
.metadata/
*.swf
*.swc
*.DS_Store

# DS_Store and project files
*/.DS_Store
#*/.project
# */.actionScriptProperties

# Build and Release Folders
bin/
bin-debug/
bin-release/

# Other files and folders
.settings/
.metadata/